body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
#btn{
    background-color:rgb(23, 23, 129);
    color:whitesmoke;
    border-radius: 9px;
    padding: 7px;
    border: 1px solid black;
}
.hacker{
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    flex-direction: column;
    position: relative;
    top: 20vh;
}
.text{
    color: rgb(8, 247, 8);
}
.inserted{
  
}